extends layout.pug

block content
    div.center
        h1.center-heading Welcome to secret Infinite Scroll
        a(href='#').btn.btn--1 Sign In with google
        a(href='#').btn.btn--2 Show infinite scroll
    
    a(href='#').btn.btn--3 Logout
