extends layout.pug

block content
    h1 Welcome to secret Infinite Scroll
    div.spinner#spinner
        img(src='/img/loader.svg',alt='Spinner').center
    div.image-box
    a(href='/').back &larr; Back
    script.
        const API_KEY =`#{process.env.API_KEY}`
    script(src='/js/secret.js')
    
    