/* default values */
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Delicious Handrawn", cursive;
  font-size: 4rem;
  text-align: center;
  background: #edeade;
}

/* center alignment */
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-heading {
  margin-bottom: 1.5rem;
}

/* spinner alignment */
.spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.image-box {
  margin: 1rem 30%;
}

.image-box img {
  width: 100%;
}

/* back */

.back {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 4rem;
  cursor: pointer;
  text-decoration: none;
  color: tomato;
}

/* error middleware*/
.errorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.errorMessage__status {
  color: tomato;
}

/* buttons */
.btn {
  display: inline-block;
  padding: 1rem 5rem;
  text-decoration: none;
  cursor: pointer;
  color: aliceblue;
  border-radius: 5px;
}

.btn--1 {
  background: crimson;
  margin-right: 2rem;
}

.btn--2 {
  background: blue;
}

.btn--3 {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: aqua;
}

/* 1450px */

@media screen and (max-width: 90.625em) {
  .btn--1 {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

/* 900px */
@media screen and (max-width: 56.25em) {
  h1 {
    font-size: 3rem;
  }

  .image-box {
    margin: 1rem;
  }
}
